<template name="about">
  <div class="backpanel about">
    <div class="container">
      <div class="section">
        <!--   Icon Section   -->
        <div class="row">
          <div class="col m4 s12">
            <h5 class="center">About Me</h5>
            <p class="light">Currently living in Rahway, New Jersey, I'm a Full Stack Web Developer with a passion for building and solving complex problems. I'm interested in writing elegant reusable code to build products that connect people to the things they need with less friction. Check out my <a data-scroll href="#portfolio">portfolio!</a></p>
            <a  href="/documents/christian_eckenrode_resume.docx" class="btn-large waves-effect waves-light blue darken-1"><i class="mdi-file-file-download left"></i>Download My Resume</a>
          </div>
          <div class="col m4 s12">
            <div class="card">
              <div class="card-content">
                <img src="images/profile.jpg" class="responsive-img">
              </div>
            </div>
          </div>
          <div class="col m4 s12">
            <h5 class="center">
          Personal Information
          </h5>
            <table>
              <tbody>
                <tr>
                  <td>Name</td>
                  <td>Christian Eckenrode</td>
                </tr>
                <tr>
                  <td>Location</td>
                  <td>Rahway, New Jersey</td>
                </tr>
                <tr>
                  <td>GitHub</td>
                  <td><a href="https://github.com/ceckenrode">ceckenrode</a></td>
                </tr>
                <tr>
                  <td>LinkedIn</td>
                  <td><a href="https://www.linkedin.com/in/christianeckenrode">christianeckenrode</a></td>
                </tr>
                <tr>
                  <td>Twitter</td>
                  <td><a href="https://twitter.com/cseckenrode">@cseckenrode</a></td>
                </tr>
                <tr>
                  <td>StackOverflow</td>
                  <td><a href="http://stackoverflow.com/users/5179478/ceckenrode">ceckenrode</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>
</template>
