<template name="contactFooter">
  <footer class="page-footer blue darken-1">
    <span id="contact"></span>
    <div class="container">
      <div class="row">
        <div class="col m6 s12">
          <h5 class="white-text">Contact Me</h5>
          <p class="grey-text text-lighten-4">Have a project you'd like some help with? Drop me a message and in most cases I should be able to get back to you in a day or two.</p>
        </div>
        <div class="col m6 s12">
          <div class="card white">
            <div class="card-content">
              <form>
                <div class="input-field">
                  <input id="name" type="text" class="validate">
                  <label for="name">Name</label>
                </div>
                <div class="input-field">
                  <input id="email" type="email" class="validate">
                  <label for="email">Email</label>
                </div>
                <div class="input-field">
                  <input id="subject" type="text" class="validate">
                  <label for="subject">Subject</label>
                </div>
                <div class="input-field">
                  <textarea id="message" class="materialize-textarea"></textarea>
                  <label for="message">Message</label>
                </div>
              </form>
            </div>
            <div class="card-action">
              <a href="#">Send Message</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <a href="https://github.com/ceckenrode" target="_blank"><i class="fa fa-github fa-3x"></i></a>
        <a href="https://twitter.com/cseckenrode" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
        <a href="https://www.linkedin.com/in/christianeckenrode" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a>
        <a href="http://stackoverflow.com/users/5179478/ceckenrode" target="_blank"><i class="fa fa-stack-overflow fa-3x"></i></a>
      </div>
    </div>
  </footer>
  
</template>