<template name="nav">
  <nav class="blue darken-2" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Christian Eckenrode</a>
      <ul class="right hide-on-med-and-down">
        <li><a data-scroll href="#about">About</a></li>
        <li><a data-scroll href="#skills">Skills</a></li>
        <li><a data-scroll href="#portfolio">Portfolio</a></li>
        <li><a data-scroll href="#contact">Contact</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a data-scroll href="#about">About</a></li>
        <li><a data-scroll href="#skills">Skills</a></li>
        <li><a data-scroll href="#portfolio">Portfolio</a></li>
        <li><a data-scroll href="#contact">Contact</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</template>
