<template name="portfolio">
  <div class="backpanel portfolio">
    <div class="container-fluid">
      <div class="section">
        <br>
        <br>
        <span id="portfolio"></span>
        <div class="row">
          <div class="col m4 s12">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator responsive-img" src="images/click-your-friends.png">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Click Your Friends<i class="material-icons right">more_vert</i></span>
                <p><a class="activator">Learn More</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Click Your Friends<i class="material-icons right">close</i></span>
                <p>Click Your Friends is a memory game where you must click each individual picture once to score the most possible points in 20 seconds. On each correct click the images are randomized. Click a person twice and there will be consequences! This project uses jQuery animations. <a href="https://gentle-savannah-1518.herokuapp.com/" target="_blank">View Demo</a></p>
              </div>
            </div>
          </div>
          <div class="col m4 s12">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator responsive-img" src="images/pokemon-rps.png">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Choose Your Starter<i class="material-icons right">more_vert</i></span>
                <p><a class="activator">Learn More</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Choose Your Starter<i class="material-icons right">close</i></span>
                <p>Choose Your Starter is a Pokémon themed Rock, Paper, Scissors game. Choose between Squirtle, Charmander, or Bulbasaur and face off with the computer. This project uses CSS and jQuery animations to create multiple views within a gameboy drawn with CSS.<a href="http://serene-sierra-8566.herokuapp.com/" target="_blank">View Demo</a></p>
              </div>
            </div>
          </div>
          <div class="col m4 s12">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator responsive-img" src="images/seahaven.png">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Welcome to Seahaven<i class="material-icons right">more_vert</i></span>
                <p><a class="activator">Learn More</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Welcome to Seahaven<i class="material-icons right">close</i></span>
                <p>A website I created for the band Seahaven using Tumblr as a content management system. Improvements over the original tumblr include: an overall mobile responsive design, a preview of all available merch items available from third parties rather than just links to the pages, easier functionality on mobile of bandcamp plugin <a href="http://developtest1991.tumblr.com/" target="_blank">View Demo</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col m4 s12">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator responsive-img" src="images/kayak-clone.png">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">RCB Travel<i class="material-icons right">more_vert</i></span>
                <p><a class="activator">Learn More</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">RCB Travel<i class="material-icons right">close</i></span>
                <p>A kayak travel clone. Search for Hotels or match by criteria. This project utilizes jQuery animations to show and hide data from the DOM. Hotels can be sorted by criteria and there is a basic search algorthim to find hotels by name. <a href="https://kayakclonehotel.herokuapp.com/comparison.html" target="_blank">View Demo</a></p>
              </div>
            </div>
          </div>
          <div class="col m4 s12">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator responsive-img" src="images/bitcurrents.png">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">BitCurrents<i class="material-icons right">more_vert</i></span>
                <p><a class="activator">Learn More</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">BitCurrents<i class="material-icons right">close</i></span>
                <p>BitCurrents is a real time and historical bitcoin price tracking an analytics application, providing currency conversion and insights through news and social signals. This project uses the CoinDesk, Twitter, and Reddit APIs to feed data to the page. <a href="http://bitcurrents.herokuapp.com/" target="_blank">View Demo</a></p>
              </div>
            </div>
          </div>
          <div class="col m4 s12">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator responsive-img" src="images/virtualflyers.png">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">RU Virtual Flyers<i class="material-icons right">more_vert</i></span>
                <p><a class="activator">Learn More</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">RU Virtual Flyers<i class="material-icons right">close</i></span>
                <p>RU Virtual Flyers helps connect you to businesses in and around the Rutgers University area. Create an account, log in, post a new location, submit reviews for locations you have visited. This project is a full stack web application using Node.js, Express, Handlebars, and MYSQL database. <a href="http://rutgersapp.herokuapp.com/" target="_blank">View Demo</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>
</template>
